<app-navbar></app-navbar>
<body>
    <div class="col-md-12 row" style="background-color: rgb(247, 242, 242);">
        <div class="col-md-8 offset-md-2">
            <div class="card" style= "margin-top: 20px;">
                <div class="card-body">
                    <h4 class="card-title"><strong>{{albumName | uppercase}}</strong></h4>
                    <hr>
                    <div>
                        <input type="file" (change)="FileSelected($event)">
                    </div>
                    <div id="card-container">
                        <!-- ngFor here -->
                        <span *ngFor="let photo of photos">
                            <img class="albumPhoto" src="../../assets/uploaded_photo/{{username}}/{{albumName}}/{{photo.albumPhotoPath}}" alt="Card image cap">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
