/* body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;} */

/* fieldset, img {border:0} */

/* ol, ul, li {list-style:none} */

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 14px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  color: #3a3939;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}
/* 
html{
  background-color: #ffffff;
} */

.is-invalid{
  border-color: red;
}
.testbox {
  margin: 20px auto;
  width: 500px; 
  min-height: 600px; 
  border-radius: 8px/7px; 
  background-color: #ffd8a1; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

input[type=radio] {
  visibility: hidden;
  margin: 0 30px 0 5px;
}

form{
  margin: 0 30px;
}

label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #9cadce;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.8em;
	height: 0.4em;
	background: transparent;
	top: 10px;
	left: 6px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
  margin-top: auto;
}

input[type=text],input[type=password]{
  width: 370px; 
  height: 35px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: 0px;
  margin-top: 15px; 
  padding-left: 10px;
}

input[type=date]{
    width: 180px; 
    height: 35px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    background-color: #fff; 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #cbc9c9;
    margin-left: 0px;
    margin-top: 15px; 
    padding-left: 10px;
    margin-bottom: 25px;
}

#icon {
  display: inline-block;
  width: 40px;
  background-color: #9cadce;
  padding: 4.5px 0px 6.5px 13px;
  margin-left: 9px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}
.icon-calendar {
    size: 5px;
}

.gender {
    margin-left: 50px;
    margin-bottom: px;
}

a.button {
  font-size: 14px;
  font-weight: 600;
  color: black;
  padding: 3px 25px 0px 20px;
  margin: 0px 8px 20px 0px;
  display: inline-block;
  text-decoration: none;
  width: 100px; height: 30px; 
  border-radius: 5px; 
  background-color: #bbc1ce; 
  box-shadow: 0 3px #fdb080(58,87,175,.25);
  transition: all 0.1s linear 0s; 
  top: 15px;
  position: relative;
}

a.button:hover {
  top: 3px;
  background-color:#90a5cf;
  
}
#userGender {
    font-size: 18px;
}
.register {
    display: flex;
    justify-content: space-evenly;
}