<app-navbar></app-navbar>
<div class="col-md-12 row">
    <div id="friend-row" class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"><strong>Friends</strong></h4>
                <hr>
                <div *ngFor="let friend of friends">

                    <a style="text-decoration:none;" [routerLink]="['/pastebook.com', friend.username]"><div id="card-container">
                        <div id="friend-card" class="card">
                            <div id="card-content" class="card-body">
                                <a><img id="user-icon-pic" src="../../assets/uploaded_photo/{{friend.username}}/profilePicture/{{friend.profilePhotoPath}}" alt="alternate" *ngIf="friend.profilePhotoPath != null"  />
                                    <img id="user-icon-pic" src="../../assets/testPhoto/default.jpg" alt="alternate" *ngIf="friend.profilePhotoPath == null" /></a>
                                <div id="friend-name">
                                    <a id="fullname"><h5>{{ friend.firstName + " " + friend.lastName }}</h5></a>
                                </div>
                                <button id="friend-button"><i class="fas fa-ellipsis-h"></i></button>
                            </div>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>
