<div class="col-md-12 row">
    <div id="post-row" class="col-md-8 offset-md-2" *ngFor="let post of timelineFeed">
        <div class="card" style="width: 64rem;">
            <div class="card-body">
                <div style="display: flex;">
                    <a [routerLink]="['/pastebook.com/', post.username]"><img id="user-icon-pic" src="../../assets/testPhoto/download.png" alt="Card image cap"></a>
                    <div>
                        <h5 class="card-title"><a id="user-fullname" [routerLink]="['/pastebook.com', post.username]">{{post.firstName}} {{post.lastName}}</a></h5>
                        <p><strong>{{post.timeStamp}}</strong></p>
                    </div>
                </div>
                <p class="card-text">{{post.textContent}}{{post.postPhotoPath}}</p>
            </div>
            <!--<img class="card-img-top" src="../../../assets/uploaded_photo/{{post.username}}/posts/{{post.postPhotoPath}}" alt="{{post.postPhotoPath}}" *ngIf="post.postPhotoPath">-->
            <div class="card-body">
            <hr>
            <div id="post-btn">
                <button class="like-and-comment liked" type="button" (click)="onLike(post.postId)">Like</button>
                <button class="like-and-comment" type="button">Comment</button>
            </div>
            <div style="display: flex;">
                <input id="comment-textbox" class="form-control" type="text" placeholder="Write a comment...">
                <button id="send-comment-button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
            </div>
        </div>
    </div>
</div>
