.navbar{
    background-color: #779ecc;
    color: rgb(43, 42, 42);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 16px;
    box-shadow: rgb(145, 145, 145) 0px 2px 4px 0px, rgb(202, 201, 201) 0px 2px 16px 0px;
}
#pastebook{
    text-decoration: none;
    color: rgb(43, 42, 42);
}
#pastebook:hover{
    text-decoration: underline;
}
#pastebook-and-search{
    display: flex;
    margin-left: 10px;
}
#search{
    width: 50%;
    border-radius: 15px 0px 0px 15px;
    margin-left: 10px;
    height: 10%;
    border-style: none;
    background-color: rgb(247, 242, 242);
}
#search-icon{
    border-style: none;
    background-color: rgb(211, 202, 202);
    border-radius:0px 15px 15px 0px;
    height: 33px;
    color: rgb(77, 74, 74);
}
#search-icon:hover{
    background-color: rgb(112, 108, 108);
    color: rgb(223, 215, 215);
}
#home{
    text-decoration: none;
    color: rgb(43, 42, 42);
    transition-duration: 300ms;
}
#home:hover{
    text-decoration: underline;
}

#profile-div{
    display: flex;
}
#user-icon-pic{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 5px;
}
#profile-link{
    text-decoration: none;
    display: flex;
    color: rgb(43, 42, 42);
    transition-duration: 300ms;
}
#profile-link:hover{
    text-decoration: underline;
}
#logout-div{
    margin-right: 10px;
}

#right-nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#right-nav div{
    padding: 0px 20px 0px 20px;
}
/* 
.dropdown {
    visibility: hidden;
    opacity: 0;
    position:relative;
    padding-left: 0;
    left: 0;
    display: none;
    background: none;
    text-decoration: none;
}
#right-nav div:hover > h5 ul, .dropdown:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: left;
    padding-top: 20px;   
}
.dropdown li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
}
.dropdown li a:hover {
    padding-left: 10px;
    border-left: 2px solid #3ca0e7;
    transition: all 0.3s ease;
}

.dropdown li a {
    color: rgb(43, 42, 42);
    transition: all 0.5s ease;
} */
