<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<nav class="navbar">
    <div id="pastebook-and-search">
        <a id="pastebook" routerLink="/"><h3>PASTEBOOK</h3></a>
        <input  id="search" class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchInput">
        <button id="search-icon" (click)="search()"><i class="fas fa-search"></i></button>
    </div>
    <div id="right-nav">
        <div id="home-div">
            <h5><a id="home" routerLink="/"><i class="fas fa-home"></i>Home</a></h5>
        </div>
        <div id="profile-div">
            <a id="profile-link" routerLink="/pastebook.com/{{ username }}">
                <img id="user-icon-pic" src="../../assets/testPhoto/download.png" alt="Card image cap">
                <h5>{{ username }}</h5>
            </a>
        </div>
        <div>
            <a [routerLink] = "['/setting']"><i class="fa fa-cog fa-lg"></i></a>
        </div>
        <div id="logout-div">
            <h5><button id="logout-btn" (click)="logout()">Logout</button></h5>
        </div>
    </div>
</nav>