<div id="AddPost">
    <div id="AddPostCard">
        <div>
            <img id="profilePhotoIcon" src="../../assets/testPhoto/download.png">
        </div>
        <div>
            <form>
                <input id="TextBox" type="text" name="post" placeholder="What's on your mind?">
                <input id="PostButton" type="submit" value="Post">
            </form>
                <div>
                    <button>Upload Photo</button>
                </div>
        </div>
    </div>
</div>

<div id="post-contents">    
    <a id="post-card">
        <h2>TIMELINE</h2>
        <div id="FirstNameAndLastName">FirstName and LastName</div>
        <div id="textContent">SomeTextContent</div>
        <div id="picture"><img src="../../assets/testPhoto/images.png" alt="alternate"></div>
        <div id="LikeAndComment">
            <div id="Likes">Like</div>
            <div id="Comments">Comment</div>
        </div>
    </a>
</div>