<div id="LoginCard">
    <div>
        <h2>PASTEBOOK</h2>
        <div><h3>Sign In</h3></div>
        <form [formGroup]="loginForm" (submit)="onSubmit()">
            <div>
                <input type="text" formControlName="email" placeholder="Email Address">
            </div>
            <div>
                <input type="text" formControlName="password" placeholder="Password">
            </div>
            <div id="LoginChoices">
                <input type="submit" value="Submit" />
                <div><a routerLink="/register">Create Account</a></div>
            </div>
            <p *ngIf="loginForm.get('email')?.errors?.['required']"> email is requried</p>
            <p *ngIf="loginForm.get('password')?.errors?.['required']"> password is requried</p>
            <p *ngIf="errorMessage != null">error: {{ errorMessage }}</p>
        </form>
        
    </div>
</div>

