/* #LoginCard{
    display: flex;
    justify-content: center;
}
#LoginChoices{
    display: flex;
    justify-content: space-between;
} */

.gradient-custom-2 {

    background: linear-gradient(to right, #d4afb9,  #d1cfe2, #9cadce, #7ec4cf); 
}

.gradient-custom-5 {

    background: #7ec4cf;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    margin-right: 10px;
    outline-color: black;
}

.gradient-custom-3 {
    background: #7ec4cf;
    border-radius: .3rem;
    padding: 2px 4px 2px 4px;
}

.gradient-custom-4 {

    background: #ffd8a1;
    border-radius: .3rem;
    padding: 2px 4px 2px 4px;
}

a:active,
a:visited,
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a {
    text-decoration: none;
}
#pastebook{
    font-size: 50px;
    font-weight: 900;
    color: #779ecc;
}
#paste-it{
    font-size: 30px;
    font-weight: 700;
    color: #779ecc;
}
#quote{
    font-size: 20px;
    font-weight: 700;
    color: #797171;
}
#we-are-pastebook{
    font-size: 30px;
    font-weight: 900;
    color: #797171;
}
#login{
    width: 100%;
    border-style: none;
    box-shadow: rgb(185, 185, 185) 0px 2px 4px 0px, rgb(202, 201, 201) 0px 2px 16px 0px;
}