<div class="testbox">
    <h1>Settings</h1>
    <form action="/" novalidate [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <hr>
        <div id="header1">User Information</div>
        <div class="form-group">
          <label id="icon" class="firstName" for="setting-firstName">First Name</label>
          <input type="text" id="setting-firstName" name="firstName" formControlName="firstName"
            #firstName [ngClass]="{ 'is-invalid': submitted && u['firstName'].errors }" required value=user.firstName/>
            <p class="invalid-input" *ngIf="submitted && u['firstName'].errors">First Name is required</p>
        </div>
        <div class="form-group">
          <label id="icon" class="lastName" for="setting-lastName">Last Name</label>
          <input type="text" id="setting-lastName" name="lastName" formControlName="lastName" #lastName
            [ngClass]="{ 'is-invalid': submitted && u['lastName'].errors }" required />
          <p class="invalid-input" *ngIf="submitted && u['lastName'].errors">Last Name is required</p>
        </div>
        <div class="form-group">
          <label id="icon" class="phone" for="setting-mobileNumber">Phone</label>
          <input type="text" id="setting-mobileNumber" name="mobileNumber"
            formControlName="mobileNumber" #mobileNumber maxlength="11" minlength="11" />
        </div>
        <div class="form-group">
          <label id="icon" class="birthday" for="setting-birthday">Birthday</label>
          <input type="date" id="setting-birthday" name="birthday" formControlName="birthday" #birthday
            [ngClass]="{ 'is-invalid': submitted && u['birthday'].errors }" required>
            <p class="invalid-input" *ngIf="submitted && u['birthday'].errors">Birthday is required</p>
        </div>
        <div class="form-group changeEmail">
          <label id="icon" class="email" for="setting-email">Email</label>
          <input type="text" id="setting-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            [ngClass]="{ 'is-invalid': submitted && u['email'].errors }" name="email" formControlName="email" #email
            required />
          <p class="invalid-input" *ngIf="submitted && u['email'].errors">Email is required</p>
        </div>
        <div class="form-group">
          <label id="icon" class="newPassword1" for="setting-password">New Password</label>
          <input type="password" id="setting-password" name="password" formControlName="password"
            #password [ngClass]="{ 'is-invalid': submitted && u['password'].errors }" minlength="6" />
            <p class="invalid-input" *ngIf="submitted && u['password'].errors">
              <span *ngIf="u['password'].errors['minlength']">Password should be at least 6 characters</span>
            </p>
        </div>
        <div class="form-group changePassword">
          <label id="icon" class="newPassword2" for="setting-confirmPassword">Confirm New Password</label>
          <input type="password" id="setting-confirmPassword" formControlName="confirmPassword"
            name="confirmPassword" #confirmPassword [ngClass]="{ 'is-invalid': submitted && u['confirmPassword'].errors }"
            minlength="6" />
            <p class="invalid-input" *ngIf="submitted && u['confirmPassword'].errors">
              <span *ngIf="u['confirmPassword'].errors['minlength']">Password should be at least 6 characters</span>
              <span *ngIf="u['confirmPassword'].errors['matching']">Passwords do not match. Retype both passwords</span>
            </p>
        </div>
        <div class="form-group gender">
          <div class="userGender">Gender</div>
          <input type="radio" value="M" id="register-maleGender" name="gender" formControlName="gender" #gender
           required [ngClass]="{ 'is-invalid': submitted && u['gender'].errors }"  checked/>
           <label for="register-maleGender" class="radio">Male</label>
           <input type="radio" value="F" id="register-femaleGender" name="gender" formControlName="gender" #gender
           required [ngClass]="{ 'is-invalid': submitted && u['gender'].errors }"/>
           <label for="register-femaleGender" class="radio">Female</label>
           <p class="invalid-input" *ngIf="submitted && u['gender'].errors">Gender is required</p>
        </div>
        <hr>
        <div id="header2">Enter Current Password to Update</div>
        <div class="form-group">
          <label id="icon" class="currentPassword2" for="current-password">Current Password</label>
          <input type="password" id="current-password" name="password" formControlName="currentPassword" #currentPassword required />
          <p class="invalid-input" *ngIf="submitted && u['currentPassword'].errors">Enter current password to update</p>
        </div>
        <div>
          <button class="buttons btn-block update2 mb-4" type="submit">Update Information</button>
        </div>
    </form>
</div>
