<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

<app-navbar></app-navbar>
<body>
    <div class="col-md-12 row" style="background-color: rgb(247, 242, 242);">
        <div class="col-md-8 offset-md-2">    
            <div class="card" style= "margin-top: 20px;">
                <div class="card-body">
                    <h4 class="card-title"><strong>Albums</strong></h4>
                    <hr>
                    <div id="albumCards" style="display: flex; flex-wrap: wrap;">
                        <div id="portfolio">
                            <a id="addAlbum" class="project" (click)="showModalFunction(true)">
                                <p>Add Album</p>                               
                            </a>
                        </div> 
                        
                        
                        <div id="portfolio">
                            <div class="project">
                                <img class="project__image" src="../../assets/testPhoto/download.png" />
                                <p>Album Name</p>
                                <div class="grid__overlay">
                                    <a id="gallery" routerLink="/album/gallery"><button class="viewbutton" >Open album</button></a>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let album of albums" id="portfolio">
                            <div class="project">
                                <img class="project__image" src="../../assets/testPhoto/download.png" />
                                <p>{{ album.albumName }}</p>
                                <div class="grid__overlay">
                                    <a id="gallery" routerLink="/album/gallery"><button (click)="openAlbum(album.albumId, album.albumName)" class="viewbutton" >Open album</button></a>
                                </div>
                            </div>
                        </div>            
                    </div>
                </div>
            </div>     
        </div>      
    </div>

    <!-- <button (click)="showModalFunction(true)">Create New Album</button>
<div class="row">
    <div *ngFor="let album of albums" class="col-md-2 offset-md-1" style="background-color: gray; height: 100px">
        <span>{{ album.albumName }}</span>
        <button (click)="openAlbum(album.albumId, album.albumName)">Open Album</button>
        <button (click)="deleteAlbum(album.albumId)">Delete</button>
    </div>
</div> -->

<!-- add album modal -->
<div [ngClass]="{'album-modal-container': true, 'show': showModal}">
    <div class="album-modal">
        <div style="display: flex;justify-content:flex-end">
            <button id="modal-close" (click)="showModalFunction(false)"><i class="fa fa-window-close" aria-hidden="true"></i></button>
        </div>
        <div class="card-body">
            <div id="modal-title">
                <label for="albumNamed">Create Album</label>
            </div>
            <hr>
            <div id="textbox-div">
                <input id="modal-textbox" type="text" [(ngModel)]="albumName" placeholder="album name">
                <hr>
            </div>
            <div id="create-div">
                <button id="modal-create" (click)="createAlbum()">Add</button>
            </div>
        </div>
    </div>
</div>

</body>
