    <!-- <div>
        <div id="ProfilePhoto"><img src="../../assets/testPhoto/download.png" alt="alternate"></div>
        <div id="FullName">{{ user.firstName + " " + user.lastName }}</div>
        <div id="Email">{{ user.email }}</div>
        <div id="MobileNumber"> {{ user.mobileNumber }}</div>
        <div id="Birthday">{{ user.birthday }}</div>
        <div id="Gender">{{ user.gender }}</div>
        <div id="AboutMe">{{ user.aboutMe}}</div>
    </div> -->
<app-navbar></app-navbar>
<body>
    <div class="col-md-12 row" style="background-color: rgb(247, 242, 242);">
        <div class="col-md-3">
            <div class="col-md-11 offset-md-1" style="width: 18rem">
                <div class="card card-one" style="background-color: white; color: rgb(43, 42, 42)">
                    <header>
                      <div class="avatar">
                        <img src="../../assets/uploaded_photo/SanaMinatozaki1/profilePicture/{{user.profilePhotoPath}}" alt="alternate" />
                        <!-- <img src="../../assets/testPhoto/download.png" alt="alternate" /> -->
                      </div>
                    </header>
                
                    <h3>{{ user.firstName + " " + user.lastName}}</h3>
                    <div id="details" class = "desc" style="color: rgb(43, 42, 42);">
                        <div id="Birthday"><i class="fas fa-birthday-cake"></i> {{ user.birthday | date: 'mediumDate' }}</div>
                        <div id="Gender"><i class="fas fa-venus-mars"></i> {{ user.gender }}</div>
                        <div id="Email"><i class="fas fa-envelope"></i> {{ user.email }}</div>
                        <div id="MobileNumber"><i class="fas fa-phone-alt"></i> {{ user.mobileNumber }}</div>
                        <img src="../../assets/testPhoto/download.png" alt="alternate" />
                      </div>
                    
                
                    <!-- <h3>Roland Chester Seda</h3>
                    <div id="details" class = "desc" style="color: rgb(43, 42, 42);">
                        <div id="Birthday"><i class="fas fa-birthday-cake"></i> February 30, 2000</div>
                        <div id="Gender"><i class="fas fa-venus-mars"></i> Male</div>
                        <div id="Email"><i class="fas fa-envelope"></i> roland.seda@pw.com.ph</div>
                        <div id="MobileNumber"><i class="fas fa-phone-alt"></i> 09191234567</div>
                    </div> -->
        
                    <div class="desc" style="color: rgb(43, 42, 42);">
                        <h6>About Me</h6>
                        <p>{{ user.aboutMe }}</p>
                        <br>
                        
                        <div class="multi-button">
                            <a id="friends" routerLink="/friends"><button><i class="fa fa-users"></i> Friends</button></a>
                            <a id="album" routerLink="/album"><button><i class="fa fa-images"></i> Album</button></a>
                            <button id="editProfile" (click)="showModal()"><i class="fas fa-user-edit"></i> Edit</button>
                        </div>
                        <br>
                    </div>
                    <footer>
                    </footer>
                  </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <app-timeline></app-timeline>
            </div>
        </div>

        <!-- about me modal -->
        <div [ngClass]="{'profile-modal-container': true, 'renderModal': showModalChecker}">
            <div class="profile-modal" >
                <div>
                    <button (click)="closeModal()">X</button>
                </div>
                <div>
                    <form [formGroup]="editForm" (submit)="submitEditForm()" enctype="multipart/form-data" >
                        <div>
                            <label for="profilePicture">Profile Picture</label>
                            <input type="file" accept=".png,.jpg" class="btn btn-info btn-lg btn-block" name="profilePicture" 
                                (change)="onFileSelected($event)" formControlName="profilePicture" />
                        </div>
                        <label for="aboutMe">About Me:</label>
                        <textarea cols="30" rows="5" formControlName="aboutMe" ></textarea>
                        <div>
                            <input type="submit" value="submit">
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        
    </div>
   
</body>
