    <!-- <div>
        <div id="ProfilePhoto"><img src="../../assets/testPhoto/download.png" alt="alternate"></div>
        <div id="FullName">{{ user.firstName + " " + user.lastName }}</div>
        <div id="Email">{{ user.email }}</div>
        <div id="MobileNumber"> {{ user.mobileNumber }}</div>
        <div id="Birthday">{{ user.birthday }}</div>
        <div id="Gender">{{ user.gender }}</div>
        <div id="AboutMe">{{ user.aboutMe}}</div>
    </div> -->
   
<app-navbar></app-navbar>
<body>
    <div class="col-md-12 row" style="background-color: rgb(247, 242, 242);">
        <div class="col-md-4">
            <div class="col-md-11 offset-md-1" style="width: 18rem">
                <div class="card card-one" style="background-color: white; color: rgb(43, 42, 42)">
                    <header>
                      <div class="avatar">
                        <img src="../../assets/testPhoto/download.png" alt="alternate" />
                      </div>
                    </header>
                
                    <h3>{{ user.firstName + " " + user.lastName}}</h3>
                    <div id="details" class = "desc" style="color: rgb(43, 42, 42);">
                        <div id="Birthday"><i class="fas fa-birthday-cake"></i> {{ user.birthday | date: 'mediumDate' }}</div>
                        <div id="Gender"><i class="fas fa-venus-mars"></i> {{ user.gender }}</div>
                        <div id="Email"><i class="fas fa-envelope"></i> {{ user.email }}</div>
                        <div id="MobileNumber"><i class="fas fa-phone-alt"></i> {{ user.mobileNumber }}</div>
                    </div>
        
                    <div class="desc" style="color: rgb(43, 42, 42);">
                        <h6>About Me</h6>
                        <p>{{ user.aboutMe }}</p>
                        <br>
                        <div class="multi-button">
                            <button><i class="fa fa-users"></i> Friends</button>
                            <button><i class="fa fa-images"></i> Album</button>
                            <button><i class="fas fa-user-edit"></i> Edit</button>
                        </div>
                        <br>
                    </div>
                    <footer>
                    </footer>
                  </div>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <app-timeline></app-timeline>
            </div>
        </div>
    </div>
</body>
<app-profile-post-form></app-profile-post-form>
