<app-navbar></app-navbar>


<body>
    <div class="col-md-12 row" style="background-color: rgb(247, 242, 242);">
        <div class="col-md-3">
            <div class="col-md-11 offset-md-1" style="width: 18rem">
                <div class="card card-one" style="background-color: white; color: rgb(43, 42, 42)">
                    <header>
                      <div class="avatar">
                        <img src="../../assets/uploaded_photo/{{user.username}}/profilePicture/{{user.profilePhotoPath}}" alt="alternate" *ngIf="user.profilePhotoPath != null"  />
                        <img src="../../assets/testPhoto/download.png" alt="alternate" *ngIf="user.profilePhotoPath == null" />
                      </div>
                    </header>
                
                    <h3>{{ user.firstName + " " + user.lastName}}</h3>

                        <input type="hidden" [(ngModel)]="receiverAccountId">
                        <div id="addfriend-btn">
                            <span *ngIf="relationship == 'stranger'">
                                <button style="background-color:#779ecc;border-style:none;" class="btn btn-primary" (click)="addFriend()">Add Friend</button>
                            </span>
                            <span *ngIf="relationship == 'pendingresponse'">
                                <button style="background-color:#779ecc;border-style:none;" class="btn btn-info" (click)="respondToRequest('Accepted')">Accept</button>
                                <button style="background-color:#779ecc;border-style:none;" class="btn btn-danger" (click)="respondToRequest('Decline')">Decline</button>
                            </span>
                            <span *ngIf="relationship == 'pendingrequest'">
                                <button style="background-color:#779ecc;border-style:none;" class="btn btn-info">Pending Request</button>
                            </span>
                            <span *ngIf="relationship == 'Accepted'">
                                <button style="background-color:#779ecc;border-style:none;" class="btn btn-success">Friends</button>
                            </span>
                            <span *ngIf="relationship == 'self'">
                                <button style="background-color:#779ecc;border-style:none;" class="btn btn-success">Own Account</button>
                            </span>
                        </div>

                    <div id="details" class = "desc" style="color: rgb(43, 42, 42);">
                        <div id="Birthday"><i class="fas fa-birthday-cake"></i> {{ user.birthday | date: 'longDate' }}</div>
                        <div id="Gender"><i class="fas fa-venus-mars"></i>
                            <span *ngIf="user.gender == 'M'" >Male</span>
                            <span *ngIf="user.gender == 'F'" >Female</span>
                        </div>
                        <div id="Email"><i class="fas fa-envelope"></i> {{ user.email }}</div>
                        <div id="MobileNumber"><i class="fas fa-phone-alt"></i> {{ user.mobileNumber }}</div>
                      </div>
                    
                    <div class="desc" style="color: rgb(43, 42, 42);">
                        <h6><strong>About Me</strong></h6>
                        <p>{{ user.aboutMe }}</p>
                        <br>
                        
                        <div class="multi-button">
                            <a id="friends" routerLink="/friends"><button><i class="fa fa-users"></i> Friends</button></a>
                            <a id="album" routerLink="/album/{{username}}"><button><i class="fa fa-images"></i> Album</button></a>
                            <a id="editProfile">
                                <span *ngIf="userAccountId == receiverAccountId; else elseBlock">
                                    <button (click)="showModal()"><i class="fas fa-user-edit"></i> Edit</button>
                                </span>
                                <ng-template #elseBlock>
                                    <button (click)="showModal()" disabled><i class="fas fa-user-edit"></i> Edit</button>
                                </ng-template>
                            </a>
                        </div>
                        <br>
                    </div>
                    <footer>
                    </footer>
                  </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <app-profile-post-form></app-profile-post-form>
                <app-timeline-feed></app-timeline-feed>
            </div>
        </div>

        
        <div [ngClass]="{'profile-modal-container': true, 'renderModal': showModalChecker}">
            <div id="main-modal" class="profile-modal card" >
                <div id="close-div" style="display:flex;justify-content:flex-end;">
                    <button id="modal-close" (click)="closeModal()"><i class="fa fa-window-close" aria-hidden="true"></i></button>
                </div>
                <div id="modal-title" class="card-title" style="display:flex;justify-content:center;">
                    <p>Edit Details</p>
                </div>
                <div class="card-body">
                    <form [formGroup]="editForm" (submit)="submitEditForm()" enctype="multipart/form-data" >
                        <table style="align-items: center">
                            <tr>
                                <td>
                                    <p style="font-size: 24px;font-weight:600">Profile Picture:</p>
                                </td> 
                                <td  style="display: flex; justify-content:flex-end;">
                                    <input style=" width: 400px; background-color:#779ecc" type="file" accept=".png,.jpg" name="profilePicture" 
                                    (change)="onFileSelected($event)" formControlName="profilePicture" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="font-size: 24px;font-weight:600">About Me:</div>
                                </td>
                                <td style="display: flex; justify-content:flex-end">
                                    <div><textarea style="width: 400px; height: 100px" formControlName="aboutMe" ></textarea></div>
                                </td>
                            </tr>
                        </table>
                        <div id="submit-div">
                            <input id="submit-btn" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</body>
