.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(185, 185, 185) 0px 2px 4px 0px, rgb(202, 201, 201) 0px 2px 16px 0px;
}
#user-icon-pic{
    height: 60px;
    width: 60px;
    border-radius: 100px;
}
#post-row{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#post-btn{
    display: flex;
    justify-content: space-around;
}
.like-and-comment{
    width: 50%;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    color: rgb(43, 42, 42);
    transition-duration: 500ms;
}
.like-and-comment:hover {
    background-color: #779ecc;
}
#user-fullname{
    text-decoration: none;
    color: rgb(43, 42, 42);
    font-weight: 700;
}
#user-fullname:hover{
   text-decoration:underline;
}
#comment-textbox{
    margin-top: 10px;
    border-radius:10px 0px 0px 10px;
    background-color: rgb(247, 242, 242);
}

#comment-textbox:hover{
    background-color: rgb(235, 235, 235);
}

#send-comment-button{
    border-style: none;
    border-radius:0px 10px 10px 0px;
    margin-top: 10px;
    background-color: rgb(211, 202, 202);
    color: rgb(77, 74, 74);
    transition-duration: 500ms;
}
#send-comment-button:hover{
    background-color: #779ecc;
    color: rgb(223, 215, 215);
}